body {
    font-family: Monospace;
    font-size: 1.2rem;
}

.btn {
    font-size: inherit;
}

.empty-block {
    height: 108px;
}

.bg-ideasky-primary {
    background-color: rgb(89, 178, 201) !important;
}

.bg-ideasky-primary a {
    color: white !important;
}

.bg-ideasky-dark {
    background-color: rgb(0, 0, 51) !important;
}

.bg-ideasky-info {
    background-color: #f3ffff !important;
}

.bg-ideasky-info a {
    color: rgb(0, 102, 204) !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.width-100-per {
    width: 100%;
}

.height-100-per {
    height: 100%;
}

#carousel-block {
    margin-top: 20px;
}

.carousel-inner {
    width: 80vw;
    margin: auto;
}

.carousel-item img {
    top: 0;
    left: 0;
    width: 80vw;
    height: calc(80vw*9/16);
    max-width: none;
    margin: auto;
}

body {
    overflow-x: hidden;
}