{% extends "base.html" %} 
{% block head_block %}
{% include "leaflet_link.html"%}
{% endblock head_block %}
{% block style_block %}
    <style>
            html, body {
                height: 100%;
                margin: 0px;
                padding: 0px;
            }
        /*  
            .logo {
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 10px;
                
                max-height: 70px;
            }
        
            .top{
                height: 10%;
            }
        */
            .inline-block{
                display: inline-block;
            }
            .subtitle{
                margin-bottom: 0px;
                color: rgb(255,255,255,0.5);
            }

            .content_right{
                
                display: inline-block;
                /*height: calc(100% - 10%);*/
                /*width: 35%;*/
                vertical-align:top;  
            }
           

            .content_left{
                
                display: inline-block;
                height: calc(100% - 10%);
                width: 65%;
                vertical-align:top;
                background-color: #F5F5F5; 
                padding:10px; 
            }

            .content_left_location_notice{

                height: 15%;

            }

            .location{
                width :300px;
                height:40%
            }
            .location_menu{
                width :300px;
                height:50px
            }

            .content_left_notice{

                width: 100%;
                height: calc(100% - 48%);
                margin: 10px 0 0 0;
            }

            .card_data{

                display: inline-block;
                width: calc(50% - 10px);
                height: calc(42.5% - 15px);
                
            }
            .card_data_left{
                margin: 10px 20px 10px 0;
                vertical-align:top;  
                
            }
            .card_data_right{
                margin: 10px 0 10px 0px;
                vertical-align:top;  
            }
            .card_body{
                height: 60%;
                padding-top:7%;

                
            }
            .card_body_data{

                text-align: center;
                font-weight:bolder;
                float:right
            }
            .card_header{
                height: 20%;
            }
            .card_header_icon{
                margin-top: 1.2%;
                float:right; 
            }
            .card_footer{
                height: 20%;
            }
            .card_footer_unit{
                text-align: right; 
                font-weight:bolder;  
            }
            .chart{
                float:left;
                position: relative;
                left: -10px;
                margin-bottom: 10px;
            }
            .chart:hover {
                background-color: white
            }

            
            @media (max-width: 1310px){
                .content_right{display: none;}
                .logo {
                    position: relative;
                    margin-top: 20%;
                    max-height: 2.5rem;
                }
                .navbar-brand {
                    display: inline-block;
                    padding-top: .3125rem;
                    /* padding-bottom: .3125rem; */
                    /* margin-right: 1rem; */
                    font-size: 1.25rem;
                    line-height: inherit;
                    white-space: nowrap;
                    margin: 0
                }
                .content_left{
                    width: 100%;
                    height: calc(100% - 10%);
                    padding:10px; 
                }
                .fa-8x{
                    font-size: 5em;
                }
                .display-2 {
                    font-size: 4em;
                    line-height: 1.2;
                }
                h2 {font-size: 1.5rem;
                }
                .card-footer{
                    padding: 5% 2% 2% 2%
                }
                .chart{
                    float: left;
                    position: relative;
                    top:-15%;
                    padding: 3%;
                    left: 3%;
                    background-color: white
                }
                .subtitle{
                    margin-bottom: 0px;
                    color: rgb(255,255,255,0.5);
                    position: relative;
                    right: -15%
                }
                .card_body {
                    height: 60%;
                    padding-top: 10%;
                }
            }
            
            @media (max-width: 621px){
                .content_right{display: none;}
                .logo {
                    position: relative;
                    margin-top: 0;
                    top:-16%;
                    max-height: 2.5rem;
                }
                .subtitle{
                    color: rgb(255,255,255,0.5);
                    position: absolute;
                    right: 0%;
                    top :0%
                }
                .content_left{
                    width: 100%;
                    height: calc(100% - 10%);
                    padding:10px; 
                }
                .fa-8x{
                    font-size: 2.8em;
                }
                .fa-2x{font-size: 1.5em;}
                .card_body_data{
                    text-align: center;
                    font-weight:bolder;
                    position:absolute;
                    right: 5%;
                    top:45%;
                }
                .display-2 {
                    font-size: 2.8em;
                }
                h2 {font-size: 1rem}
                h3 {font-size: 1.4rem}
                .card-footer{
                    padding: 5%
                }
                .chart{
                    float: left;
                    position: relative;
                    padding: 3%;
                    left: 3%;
                    top: -3%;
                    background-color: white;
                }
                .content_left_notice{
                    display: none
                }
                .content_left_location_notice{
                    height: 10%;
                }
                .location{
                    height: 100%
                }
                .card_data{
                    height: calc(42.5%);
                }
                .card_body {
                    height: 60%;
                    padding-top: 10%;
                }
            }
            
        </style>
{% endblock style_block %}
{% block body_block %}
        <div class="container-fluid" style="padding:0px;">
            <div class="content_left" style="margin:0; height:90vh;">
                <div class="content_left_location_notice bg-white">
                    <div class="dropdown bg-ideasky-secondary" style="height:50%; max-height:50%;">
                            <button type="button" class="bg-ideasky-secondary width-100-per btn btn-light dropdown-toggle location height-100-per" data-toggle="dropdown" id="aeroboxDropDownBtn" style="font-size:2rem;" aerobox-attribute="">
                                location
                            </button>
                            <div class="dropdown-menu width-100-per" aria-labelledby="aeroboxDropDownBtn">
                                {% for info_set in info_list %}
                                    <a class="dropdown-item location_menu width-100-per aerobox-control-area" id="{{info_set.aerobox.w_id}}">{{info_set.aerobox_geo.name}}</a>
                                {% endfor %}
                                <!--
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item location_menu width-100-per" >Another link</a>
                                -->
                            </div>
                        
                    </div>
                    <div class="content_left_notice">

                    </div>
                </div>
                <div>
                    <div class="card card_data card_data_left bg-ideasky-secondary">
                    <div class="card-header bg-ideasky-secondary  card_header ">
                                <h2 class="font-weight-bold">細懸浮微粒
                                    <span><i class=" card_header_icon fas fa-angle-double-up fa-1x" style="color:rgb(235, 48, 1);"></i></span>
                                    <!--<span><i class=" card_header_icon fas fa-angle-double-down fa-1x" style="color:rgb(4, 219, 69);"></i></span>-->
                                </h2>
                                
                            </div>
                            <div class="card-body card_body bg-white" >
                                <span id ="pm2_5_color"><i class="far fa-smile fa-8x" ></i></span>
                                <div class="display-2 card_body_data" id="pm2_5">2</div>
                            </div> 
                            <div class="card-footer card_footer card_footer_unit bg-ideasky-secondary">
                                    <button type="button" class="btn btn-light chart"><i class="fas fa-chart-line fa-2x"> </i></button>
                                    <h3 class="inline-block">μg/m<sup>3</sup></h3>
                                </div>   
                            
                    </div><!--
                --><div class="card card_data card_data_right bg-ideasky-secondary">
                             <div class="card-header bg-ideasky-secondary  card_header"><h2 class="font-weight-bold ">二氧化碳</h2></div>
                            <div class="card-body card_body bg-white" >
                                    <span id ="co2_color"><i class="far fa-smile fa-8x" ></i></span>
                                <div class="display-2 card_body_data " id="co2">1100</div>
                            </div> 
                            <div class="card-footer card_footer card_footer_unit bg-ideasky-secondary"> 
                                    <button type="button" class="btn btn-light chart "><i class="fas fa-chart-line fa-2x"> </i></button>
                                    <h3 class="inline-block">ppm</h3>
                            </div>
                    </div><!--             
                 --><div class="card card_data card_data_left bg-ideasky-secondary">
                        <div class="card-header bg-ideasky-secondary  card_header " ><h2 class="font-weight-bold">溫度</h2></div>
                        <div class="card-body card_body bg-white"  >
                            <span style="color: rgb(30, 154, 255);"><i class="fas fa-temperature-low fa-8x"></i></span>
                            <div class="card_body_data display-2" id="temp"></div>
                        </div> 
                        <div class="card-footer card_footer card_footer_unit bg-ideasky-secondary" >
                            <button type="button" class="btn btn-light chart"><i class="fas fa-chart-line fa-2x"> </i></button>
                            <h3><sup>o</sup>C</h3>
                        </div>
                    </div><!--
                --><div class="card card_data card_data_right bg-ideasky-secondary">
                        <div class="card-header bg-ideasky-secondary  card_header "><h2 class="font-weight-bold">相對溼度</h2></div>
                        <div class="card-body card_body bg-white" >
                            <span style="color: rgb(30, 154, 255);"><i class="fas fa-tint fa-8x"></i></span>
                            <div class="display-2 card_body_data" id="rh"></div>

                        </div> 
                        <div class="card-footer card_footer card_footer_unit bg-ideasky-secondary">
                            <button type="button" class="btn btn-light chart"><i class="fas fa-chart-line fa-2x"> </i></button>
                            <h3>%</h3>
                        </div>
                    </div>
                    
                </div>
                    
            </div>
            
            <!-- 以註解解決CSS display: inline-block;並排會多個空格-->
            <div class="content_right bg-white" style="margin:0; height:90vh;">
            </div>
        </div>
{% endblock body_block %}
{% block script_block %}
    <script>
        let A={
            "temp":[],
            "rh"  :[],
            "pm2_5":[],
            "co2":[],
            "receive_time" :[]
        }

        function FetchData(w_id, time_format = 'epoch', amount = '30', variable = 'all', functionality = 'unit') {
            this.w_id = w_id;
            this.time_format = time_format;
            this.amount = amount;
            this.variable = variable;
            this.functionality = functionality;
            this.data = [];
            this.base_url = {
                'unit': '/data_api/latest_x_units/',
                'day': '/data_api/latest_x_days/',
                'time': '/data_api/time_sequence/'
            }

            this.get_url = function() {
                let base = this.base_url[this.functionality]
                let parameter = `?w_id=${this.w_id}&f=${this.time_format}&u=${this.amount}&variable=${this.variable}`;
                let url = base + parameter;
                return url;
            }

            this.fetch = function() {
                fetch(this.get_url()).then(response => response.json()).then(data => {
                    this.data = data;
                }).catch(function(err) {
                    console.log(`${this.url} Error`)
                })
            };
            this.fetch();
        }

        function FetchDataFactory() {
            this.list = [];
            this.create = function(w_id, time_format = 'epoch', amount = '30', variable = 'all', functionality = 'unit') {
                let fetch_data = new FetchData(w_id, time_format, amount, variable, functionality);
                this.list.push(fetch_data);
                return fetch_data;
            }
        }
        
        function data_(data){
            for(let i=0;i<data.length;i++){
                    temp=data[i].temp
                    rh=data[i].rh
                    pm2_5=data[i].pm2_5
                    co2=data[i].co2
                    receive_time=data[i].receive_time
                    if(i==0){

                        document.getElementById("temp").innerHTML=temp
                        document.getElementById("rh").innerHTML=rh
                        document.getElementById("pm2_5").innerHTML=pm2_5
                        document.getElementById("co2").innerHTML=co2
                        if(co2<1000){ 
                            document.getElementById("co2_color").innerHTML='<i class="far fa-smile fa-8x" style="color:rgb(4, 233, 23);"></i>'
                            }
                        else{
                            document.getElementById("co2_color").innerHTML='<i class="far fa-dizzy fa-8x" style="color:rgb(255, 154, 4);"></i>'
                            }
    
                        if(pm2_5<35){
                            //document.getElementById("pm2_5_color").style.color="rgb(4, 219, 69)"
                            document.getElementById("pm2_5_color").innerHTML='<i class="far fa-smile fa-8x" style="color:rgb(4, 233, 23);"></i>'
                            }
                        else if(pm2_5>=35 && pm2_5<53) {
                            //document.getElementById("pm2_5_color").style.color="rgb(255, 154, 4)"
                            document.getElementById("pm2_5_color").innerHTML='<i class="far fa-fromn-open fa-8x" style="color:rgb(255, 154, 4);"></i>'
                            }
                        else{
                            //document.getElementById("pm2_5_color").style.color = "rgb(235, 48, 1)"
                            document.getElementById("pm2_5_color").innerHTML='<i class="far fa-angry fa-8x" style="color:rgb(235, 48, 1);"></i>'
                            }
                    }
    
                A.temp.push(temp);
                A.rh.push(rh);
                A.pm2_5.push(pm2_5);
                A.co2.push(co2);
                A.receive_time.push(receive_time); 
            }
    
        }

        let fetch_data_factory = new FetchDataFactory();

        $(document).ready(function(){
            for (aerobox of document.getElementsByClassName('aerobox-control-area')){
                let d = fetch_data_factory.create(aerobox.id, 'epoch', '1', 'all');
            }
        });

        $('.dropdown-menu a').click(function(){
            $('#aeroboxDropDownBtn').text($(this).text());
            for (fetch_data of fetch_data_factory.list){
                if (fetch_data.w_id == this.id){
                    data_(fetch_data.data);
                    document.getElementById("aeroboxDropDownBtn").setAttribute("aerobox-attribute",this.id);
                }
            }
        });
        
    </script>
{% endblock script_block %}